<div class="pig-portrait">
    <div class="pig">
        <div class="hat">
            <div class="decoration">
            </div>
            <div class="hatbase">
            </div>
        </div>
        <div class="ears">
            <div class="ear left"></div>
            <div class="ear right"></div>
        </div>
        <div class="eyes">
            <div class="eye left"></div>
            <div class="eye right"></div>
        </div>
        <div class="nose"></div>
        <div class="smile lips"></div>
    </div>
</div>